/* Ajustes generales para centrar y dar espacio al formulario */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.App h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
.styled-table {
    margin: 20px auto; /* Centra la tabla y agrega margen */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 80%; /* Establece el ancho de la tabla */
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .styled-table td, .styled-table th {
    border: 1px solid #ddd; /* Agrega bordes a las celdas */
    padding: 8px; /* Añade espacio alrededor del contenido de la celda */
    text-align: left; /* Alinea el texto a la izquierda en las celdas */
  }
  
  .styled-table th {
    background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
  }
  
  .table-container {
    margin: 20px auto; /* Centra la tabla y agrega margen */
    width: 80%; /* Establece el ancho máximo del contenedor */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
  }
  .style-tabla {
    width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Combina los bordes de las celdas */
  }
  
  .iconButton {
    display: inline-block;
    width: 5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .imgIconos {
    opacity: 0.7; /* Ajusta el valor para la transparencia deseada (1 es completamente opaco, 0 es completamente transparente) */
    transition: opacity 0.3s ease; /* Agrega una transición para suavizar el cambio de opacidad */
    width: 50%;
    height: auto;
  }
  
  .imgIconos:hover {
    opacity: 1; /* Cambia la opacidad cuando el mouse está sobre la imagen */
  }

/* Estilo para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Espacio entre el botón y el formulario */
}

/* Estilo para los inputs dentro del formulario */
form input {
  margin-bottom: 10px; /* Espacio entre los campos del formulario */
}

.mb {
  justify-content:right;
  width: auto;
}



.joke-container {
  font-size: 1em sans-serif;
}

.ClassBEdit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.ClassBEdit button {
  margin: 1%;
}
