.carousel-caption {
    background: rgb(0, 0, 0); /* Fondo semi-transparente, ajusta según tus necesidades */
    padding-bottom: 40px; /* Espaciado interno, ajusta según tus necesidades */
}
.ImagenCarrusel {
    padding-top: 4%;
    height: 100vh;
}

.carousel-caption h3 {
    color: white;
    font-size: 5rem;
}

.carousel-caption p {
    font-size: 2rem;
}

.carousel-caption a {
    font-size: 1.5rem;
    text-decoration: none;
    color:khaki
}

.ButtonMas {
    background: white;
    color: '#FFFFFF';
    padding: 5px 10px; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
}