.Cita {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5% 1% 1% 1%;
    opacity: 1;
    background: linear-gradient(black, white);
}

.Cita .Cite {
    background-color: rgb(0, 0, 0);
    padding: 2% 5% 1% 5%;
    border-radius: 15%;
    font-family: Helvetica;
    color: azure;
}

.Cita .Cite h2 {
    font-size: 2rem;
}
