* {
    margin: 0;
    padding: 0;
}
.custom-link {
    text-decoration: none;
    color: white;
}

.imgFooter {
  width:  25%;
  height: auto;
}

/* Estilos generales para el footer */
.astro-SZ7XMLTE.footer {
    background-color: #131516;
    padding: 15px;
    color: #e1e2eb;
    margin: auto;
  }
  
  /* Estilos para el logo en el lado izquierdo */
  .astro-SZ7XMLTE.footer .icon-flipcat {
    display: flex;
    padding: 25px 0 0 0;
    justify-content: center;
  }
 
  .astro-SZ7XMLTE.footer .icon {
    padding: 0;
    margin: 10px;
  }

  .imgIcons {
    width:  70%;
    height: auto;
  }

  /* Estilos para la sección de redes sociales en el centro */
  /*siguenos en nuestras redes*/
  .astro-SZ7XMLTE.footer .social-media {
    text-align: center;
  }

  /*titulos*/
  .astro-SZ7XMLTE.footer .social-media .footer-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  /*redes sociales */
  .astro-SZ7XMLTE.footer .social-media .media-row {
    display: flex;
    justify-content: space-evenly;
  }
  
  .astro-SZ7XMLTE.footer .social-media .media-icon {
    margin: 0 10px;
  }
  

  /* Estilos para el chat virtual en el lado derecho */
  .astro-SZ7XMLTE.footer .chat-virtual {
    text-align: center;
  }
  
  /* Estilos para el texto de copyright y otros elementos adicionales */
  .astro-SZ7XMLTE.footer .after-footer {
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #6e6f81;
  }
  

  /* ESTILOS PARA LA PAGINA ACERCA DE MI*/

.general {
  background-color: aquamarine;
  padding-top: 100px;
  position: relative;
}
.general .Titulo {
  text-align: center;
  padding: 7px;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: cursive;
}

.DivTitulo {
  background-color: aquamarine;
  margin: 5% 10% 5% 10%;
}
.general .subTitulo {
  text-align: center;
  padding: 7px;
  font-weight:lighter;
  font-size: 1.5rem;

}

.general .Description {
  text-align: center;
  padding: 7px;
  font-size: 1.1rem;
}
.DivDescrip {
  background-color: aquamarine; 
  margin: 5% 10% 5% 10%;
 }

.DivImagen {
  display: flex;
  justify-content: center;

}
.imgYo {
  width: 50%;
  height: auto;
  border: solid;
}